# Environment variables
.env
.env.local  # Local environment variables

# IDE configurations
.idea/       # JetBrains IDEs
.vscode/     # Visual Studio Code settings

# Dependencies
node_modules/

# Optional build and coverage directories
dist/
coverage/
